# Node
node_modules/
dist/
.env

# Vite
.vite/

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Capacitor
android/
ios/

# Bubblewrap
.gradle/
app/
build
android.keystore
gradle/
gradle.properties
build.gradle
gradlew
gradlew.bat
manifest-checksum.txt
settings.gradle
app-release-bundle.aab
app-release-signed.apk
app-release-signed.apk.idsig
app-release-unsigned-aligned.apk